.nombre{
  font-family: 'Permanent Marker', cursive;
  color:  #5000a2;
}
body{
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment:fixed;
}
.contenedor{
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: rgb(184, 197, 255, 0.7);
  border-radius: 10px;
}
.imagen{
  min-height: 4rem;
  min-width: 2.8rem;
  margin: 0.1rem;
}
.historial{
  font-family: 'Permanent Marker', cursive;
  color: rgb(94, 73, 73);
  font-size: 1.5rem;
}
.blog{
  margin-left: 3rem;
}
.texto-blog{
  margin-top: 1rem;
}
.avatar{
  width: 5rem;
  border-radius: 9px;
}
.comentario{
  border: solid 1px black;
  border-radius: 8px;
}
.texto-comentario{
  color: rgb(111, 90, 90);
}
@media (max-width: 639px) {
  .contenedor{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(184, 197, 255, 0.7);
    border-radius: 5px;


}
